[submodule "score"]
	path = score
	url = https://github.com/oeg-upm/tada-map-score.git
	ignore = dirty

[submodule "combine"]
	path = combine
	url = https://github.com/oeg-upm/tada-reduce-combine.git
	ignore = dirty

[submodule "spot/ssspotter"]
	path = spot/ssspotter
	url = https://github.com/oeg-upm/ssspotter.git
